<option value="Greater_Accra">Greater Accra Region</option>
<option value="Ashanti">Ashanti Region</option>
<option value="Eastern">Eastern Region</option>
<option value="Central">Central Region</option>
<option value="Brong_Ahafo">Brong-Ahafo Region</option>
<option value="Western">Western Region</option>
<option value="Northern">Northern Region</option>
<option value="Upper_East">Upper East Region</option>
<option value="Upper_West">Upper West Region</option>
<option value="Oti_Region">Oti Region Region</option>
<option value="Western_North">Western North Region</option>
<option value="Ahafo">Ahafo Region</option>
<option value="Bono_East">Bono East Region</option>
<option value="Savannah">Savannah Region</option>
<option value="Other">Other</option>